.cabeçalho{
background-color: blue;
color: black;
padding: 15px;
text-align: center;
}

.lista-principal{
list-style: none;
padding: 0;
display: flex;
justify-content: center;
width: 20px;

}
.jurandir{
font-size: 20px;
color: deeppink;
}