
.cabeçalho {
background-color: #3b82f6; /* azul mais suave */
color: white;
padding: 20px;
text-align: center;
border-radius: 10px;
}

.lista-principal {
list-style: none;
padding: 0;
margin-top: 10px;
display: flex;
justify-content: center;
gap: 20px;
font-size: 18px;
}

.item {
background-color: white;
color: #3b82f6;
padding: 8px 12px;
border-radius: 8px;
font-weight: bold;
}

.jurandir {
font-size: 20px;
color: deeppink;
margin: 30px;
text-align: center;
background-color: bluevi